# docker-compose environment variables
MYSQL_ROOT_PASSWORD=rootpw
MYSQL_MASTER_PORT=3306

# app related environment variables
MYSQL_USERNAME=root
MYSQL_PASSWORD=rootpw
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=goodies

SERVER_PORT=8080
SERVER_HOST=http://localhost
